
.gradle/*
.idea/*
build/*
gradle/*
src/main/test/*

src/main/resources/application.yaml
src/main/resources/application-local.yml
docker-compose.yml
.dockerignore

src/main/resources/keystore.p12
src/main/resources/application-prod.yaml
