<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>board</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--      <link rel="stylesheet" href="../static/css/main.css">-->
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<!--메뉴 오프너-->

<div class="menu_toggle_button button" type="button" data-json="menu_toggle">
    토글
</div>


<!--  메뉴 ---------------------------------------------------------------->
<div id="menu">
    <div class="profile"></div>
    <div class="id">로그인하세요</div>
    <div class="button" data-json="open_login">로그인 및 회원가입</div>
    <div class="button" data-json="/user/me">내정보</div>
    <div class="button" data-json="/group/me">그룹</div>
    <div class="button" data-json="/post/group">그룹 게시판</div>
    <div class="button" data-json="/post/me">나의 게시판 관리</div>
    <div class="button" data-json="/logistics/item/select_all">물류 관리</div>
    <div id="msg">asdf</div>
</div>

<!-- 메인 ------------------------------------------------------------------>
<div class="main">

    <!-- 로그인 -->
    <div id="login" class="pop">

        <form class="login_form column pop" target="iframe1">
            <div class="serve_title">로그인</div>
            <input type="text" name="v1" placeholder="아이디를 입력하세요">
            <button class="button" type="button" data-json="/user/login1">인증하기</button>
        </form>

        <form class="login_code column pop" target="iframe1">
            <div class="serve_title">인증코드입력</div>
            <input type="text" name="v1" placeholder="인증코드를 입력하세료">
            <button class="button" type="button" data-json="/user/login2">인증완료</button>
        </form>

        <form class="join_form column pop" target="iframe1">
            <div class="serve_title">회원가입</div>
            <input type="text" name="id" placeholder="id">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="phone" placeholder="phone">
            <label>프로필 사진</label>
            <input type="file" name="profile" placeholder="프로필 사진">
            <div class="image_box">
            </div>
            <button class="button" type="button" data-json="/user/join1">정보확인</button>
        </form>

        <form class="join_code column pop" target="iframe1">
            <div class="serve_title">인증코드를 입력하세요</div>
            <input type="text" name="v1" placeholder="인증코드를 입력하세요">
            <button class="button" type="button" data-json="/user/join2">인증완료</button>
        </form>

    </div>

    <!-- 유저 -->
    <div id="user" class="pop">

        <form class="profile_form column pop " target="iframe1">
            <div class="serve_title">프로필사진 변경</div>
            <input type="hidden" name="v1" value="profile">
            <input type="file" name="image">
            <div class="image_box">
            </div>
            <button class="button" type="button" data-json="/user/update">변경완료</button>
        </form>

        <div class="profile"></div>
        <div class="button" type="button" data-json="open_profile_form">프로필 변경</div>

        <div class="row">
            <div class="left">id</div>
            <div class="id"></div>
        </div>

        <div class="row">
            <div class="left">email</div>
            <div class="email"></div>
        </div>

        <div class="row">
            <div class="left">name</div>
            <div class="name"></div>
        </div>

        <div class="row">
            <div class="left">phone</div>
            <div class="phone"></div>
        </div>

        <div class="row">
            <div class="left">조직</div>
            <div class="organization"></div>
        </div>

        <form class="form column" target="iframe1">
            <select name="v1">
                <option value="name">name</option>
                <option value="phone">phone</option>
            </select>
            <input type="text" name="v2" placeholder="수정할 정보를 입력하세요">
            <button class="button" type="button" data-json="/user/update">수정완료</button>
        </form>

        <div class="row">
            <div class="button logout" data-json="/user/logout">로그아웃</div>
            <div class="button logout" data-json="/user/delete">회원탈퇴</div>
        </div>


    </div>


    <!-- 그룹 -->
    <div id="group" class="pop column">

        <!-- 그룹 메뉴 -->
        <div class="serve_menu">
            <div class="button" data-json="/group/me">그룹리스트</div>
            <div class="button" data-json="open_group_info">그룹정보</div>
            <div class="button" data-json="open_group_create_open">그룹생성</div>
            <div class="button" data-json="/group/invite_select">초대관리</div>
        </div>

        <div class="serve_main">

            <!-- 접속할 그룹 리스트 -->
            <div class="pop group_list column">
                <div class="serve_title">접속할 그룹을 선택하세요</div>
                <div class="button sample" data-json="/group/connect" data-id="group1">
                    <div class="organization">group1</div>
                </div>
            </div>

            <!-- 그룹 정보 -->
            <div class="pop group_info">

                <div class="row group_info_in">
                    <div>
                        <div>그룹이름</div>
                        <div class="group_name">yuogroup</div>
                    </div>
                    <div>
                        <div>그룹크기</div>
                        <div class="group_size">23</div>
                    </div>
                    <div>
                        <div>관리자</div>
                        <div class="group_master">qw1001</div>
                    </div>
                </div>

                <div class="column">
                    <div class="sample row">
                        <div class="profile"></div>
                        <div class="id">qw1001</div>
                        <div class="button" data-json="/group/select" data-id="">상세보기</div>
                    </div>
                    <div class="sample row">
                        <div class="profile"></div>
                        <div class="id">qw1001</div>
                        <div class="button" data-json="/group/select" data-id="">상세보기</div>
                    </div>
                    <div class="sample row">
                        <div class="profile"></div>
                        <div class="id">qw1001</div>
                        <div class="button" data-json="/group/select" data-id="">상세보기</div>
                    </div>
                </div>

                <div class="button" data-json="/group/delete">그룹탈퇴</div>


            </div>
            <!-- 그룹원 상세보기 -->
            <div class="pop group_user_info column">
                <div class="serve_title">그룹원 정보 상세보기</div>
                <div class="profile"></div>
                <div class="row">
                    <div class="left">id</div>
                    <div class="id"></div>
                </div>

                <div class="row">
                    <div class="left">email</div>
                    <div class="email"></div>
                </div>

                <div class="row">
                    <div class="left">name</div>
                    <div class="name"></div>
                </div>

                <div class="row">
                    <div class="left">phone</div>
                    <div class="phone"></div>
                </div>

                <div class="row">
                    <div class="left">조직</div>
                    <div class="organization"></div>
                </div>
            </div>
            <!-- 그룹 생성 -->
            <form class="group_create_form column pop " target="iframe1">
                <div class="serve_title">그룹 생성</div>
                <input type="text" name="v1" value="생성할 그룹 이름">
                <button class="button" type="button" data-json="/group/create">생성완료</button>
            </form>

            <!-- 그룹 초대 리스트 -->
            <div class="invite_list pop">
                <div class="serve_title">수락 또는 거절</div>
                <div class="row invite_title">
                    <div class="master">초대자</div>
                    <div class="target">대상</div>
                    <div class="organization">그룹</div>
                    <div class="button" data-json="/group/accept" data-id="">수락</div>
                    <div class="button" data-json="/group/cancel" data-id="">거절</div>
                </div>

                <div class="row sample">
                    <div class="master">mnl005</div>
                    <div class="target">mnl004</div>
                    <div class="organization">group1</div>
                    <div class="button" data-json="/group/accept" data-id="">수락</div>
                    <div class="button" data-json="/group/cancel" data-id="">거절</div>
                </div>
                <div class="row sample">
                    <div class="master">mnl005</div>
                    <div class="target">mnl004</div>
                    <div class="organization">group1</div>
                    <div class="button" data-json="/group/accept" data-id="">수락</div>
                    <div class="button" data-json="/group/cancel" data-id="">거절</div>
                </div>

            </div>

            <!-- 그룹 초대 폼 -->
            <form class="invite_form column pop" target="iframe1">
                <div class="serve_title">초대하기</div>
                <input type="text" name="v1" placeholder="초대할 아이디를 입력하세요">
                <button class="button" type="button" data-json="/group/invite">초대완료</button>
            </form>

        </div>

    </div>

    <!-- 게시판 -->
    <div id="board" class="pop">

        <!-- 게시판 메뉴 --->
        <div class="row">
            <div class="button" data-json="post_form_open">게시글 작성</div>
        </div>


        <!--- 그룹 게시글 --->
        <div class="board_group_view pop">

            <div class="sample row">

                <div class="image_box">
                    <div class="image"></div>
                    <div class="image_box_button_left button" data-json="left_image"><</div>
                    <div class="button image_box_button_right" data-json="right_image">></div>
                </div>

                <div class="column">
                    <div class="title">제목</div>
                    <div class="content">설명...</div>
                    <div class="created_date">2019-01-03</div>
                    <div class="id">mnl005</div>
                    <div class="row">
                    </div>
                </div>

            </div>

        </div>
        <!-- 나의 게시글 --->
        <div class="board_me_view pop">

            <div class="sample row">

                <div class="image_box">
                    <div class="image"></div>
                    <div class="image_box_button_left button" data-json="left_image"><</div>
                    <div class="button image_box_button_right" data-json="right_image">></div>
                </div>

                <div class="column">
                    <div class="title">제목</div>
                    <div class="content">설명...</div>
                    <div class="created_date">2019-01-03</div>
                    <div class="id">mnl005</div>
                    <div class="row">
                        <div class="button" data-json="/post/delete" data-id="24">삭제</div>
                    </div>
                </div>

            </div>

        </div>

        <!-- 글작성 --->
        <div class="board_form pop">
            <form class="column" target="iframe1">
                <input type="file" name="image">
                <div class="image_box">
                    <div class="image_box_button_left button" data-json="left_image"><</div>
                    <div class="button image_box_button_right" data-json="right_image">></div>
                </div>
                <input type="text" name="title" placeholder="게시글 제목">
                <input type="text" name="content" placeholder="게시글 내용">
                <button class="button" type="button" data-json="/post/insert">작성완료</button>
            </form>
        </div>


    </div>


    <!-- 상품관리 -->
    <div id="logistics" class="pop column">

        <!-- 물류 메뉴 -->
        <div class="serve_menu">
            <div class="button" data-json="/logistics/item/select_all">모든상품찾기</div>
            <div class="button" data-json="logistics_insert_view">상품등록</div>
            <div class="button" data-json="logistics_delete_view">상품삭제</div>
            <div class="button" data-json="logis_select_view">특정상품조회</div>


            <div class="button" data-json="/logistics/location/select_all">전체 로케이션 조회</div>
            <div class="button" data-json="location_select_view">로케이션 조건 조회</div>
            <div class="button" data-json="location_update_view">로케이션 업데이트</div>
            <div class="button" data-json="location_insert_view">로케이션 신규등록</div>
            <div class="button" data-json="location_delete_view">로케이션 삭제</div>
        </div>

        <div class="serve_main">

            <!-- 상품등록 -->
            <form class="item_insert pop column" target="iframe1">
                <div class="serve_title">상품등록</div>
                <input type="text" name="v1" placeholder="상품식별코드">
                <input type="text" name="v2" placeholder="상품이름">
                <input type="file" name="image" placeholder="상품이미지">
                <div class="image_box">
                </div>
                <button class="button" type="button" data-json="/logistics/item/insert">등록완료</button>
            </form>

            <!-- 상품 리스트 -->
            <div class="item_list pop column">

                <div class="serve_title">상품 리스트 조회 결과</div>

                <div class="item_list_in column">
                    <div class="sample row">
                        <div class="image"></div>
                        <div class="column">
                            <div class="row">
                                <div>상품코드 :</div>
                                <div class="code">a0001</div>
                            </div>
                            <div class="row">
                                <div>상품이름 :</div>
                                <div class="name">에어팟맥스</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 상품 하나 조회 -->
            <div class="item_list_one pop  column">
                <div class="serve_title">상품 조회 결과</div>
                <div class="image"></div>
                <div class="row">
                    <div>상품코드 :</div>
                    <div class="code"></div>
                </div>
                <div class="row">
                    <div>상품이름 :</div>
                    <div class="name"></div>
                </div>

            </div>

            <!-- 상품찾기 -->
            <form class="item_select pop column" target="iframe1">
                <div class="serve_title">식별코드로 상품조회</div>
                <input type="text" name="v1" placeholder="상품식별코드">
                <button class="button" type="button" data-json="/logistics/item/select">찾기</button>
            </form>
            <!-- 상품삭제 -->
            <form class="item_delete pop column" target="iframe1">
                <div class="serve_title">상품 삭제</div>
                <input type="text" name="v1" placeholder="삭제할 상품식별코드">
                <button class="button" type="button" data-json="/logistics/item/delete">삭제완료</button>
            </form>


            <!-- 다수의 로케이션 목록 -->
            <div class="location_list pop  column">
                <div class="serve_title">로케이션 리스트 조회 결과</div>
                <div class="row">
                    <div>위치</div>
                    <div>상품코드</div>
                    <div>수량</div>
                </div>
                <div class="location_list_in column">
                    <div class="sample row">
                        <div class="location">위치정보</div>
                        <div class="code">상품코드</div>
                        <div class="quantity">상품 수량</div>
                    </div>
                </div>
            </div>

            <!-- 하나의 로케이션 목록 -->
            <div class="location_list_one pop  column">
                <div class="serve_title">특정 로케이션 조회 결과</div>
                <div class="row">
                    <div>위치</div>
                    <div>상품코드</div>
                    <div>수량</div>
                </div>
                <div class="row">
                    <div class="location">위치정보</div>
                    <div class="code">상품코드</div>
                    <div class="quantity">상품 수량</div>
                </div>

            </div>


            <!-- 위치로 로케이션 찾기 -->
            <form class="location_select pop column" target="iframe1">
                <div class="serve_title">위치로 로케이션 조회</div>
                <input type="text" name="v1" placeholder="조회할 로케이션 위치">
                <button class="button" type="button" data-json="/logistics/location/select">조회</button>
            </form>
            <!-- 일정수량이상 로케이션 찾기 -->
            <form class="location_select_up pop column" target="iframe1">
                <div class="serve_title">특정 수량 이상 로케이션 조회</div>
                <input type="text" name="v1" placeholder="상품수량">
                <button class="button" type="button" data-json="/logistics/location/up">조회</button>
            </form>
            <!-- 일정수량이하 로케이션 찾기 -->
            <form class="location_select_down pop column" target="iframe1">
                <div class="serve_title">특정 수량 이하 로케이션 조회</div>
                <input type="text" name="v1" placeholder="상품수량">
                <button class="button" type="button" data-json="/logistics/location/down">조회</button>
            </form>
            <!-- 상품수량이 0인 로케이션 찾기 -->
            <form class="location_select_zero pop column" target="iframe1">
                <div class="serve_title">상품수량 0인 로케이션 조회</div>
                <button class="button" type="button" data-json="/logistics/location/zero">조회</button>
            </form>
            <!-- 상품 코드로 로케이션 찾기 -->
            <form class="location_select_code pop column" target="iframe1">
                <div class="serve_title">상품 코드로 로케이션 조회</div>
                <input type="text" name="v1" placeholder="상품코드">
                <button class="button" type="button" data-json="/logistics/location/code">조회</button>
            </form>


            <!-- 로케이션 정보 업데이트 -->
            <form class="location_update pop column" target="iframe1">
                <div class="serve_title">로케이션 정보 업데이트</div>
                <select name="type">
                    <option value="code">code</option>
                    <option value="quantity">quantity</option>
                </select>
                <input type="text" name="v1" placeholder="로케이션 번호">
                <input type="text" name="v2" placeholder="수정할 상품코드 또는 수량">
                <button class="button" type="button" data-json="/logistics/location/update">수정</button>
            </form>
            <!-- 로케이션 신규 등록 -->
            <form class="location_insert pop column" target="iframe1">
                <div class="serve_title">로케이션 신규등록</div>
                <input type="text" name="v1" placeholder="로케이션번호">
                <input type="text" name="v2" placeholder="상품코드">
                <input type="text" name="v3" placeholder="상품수량">
                <button class="button" type="button" data-json="/logistics/location/insert">등록</button>
            </form>
            <!-- 로케이션 삭제 -->
            <form class="location_delete pop column" target="iframe1">
                <div class="serve_title">로케이션 삭제</div>
                <input type="text" name="v1" placeholder="로케이션번호">
                <button class="button" type="button" data-json="/logistics/location/delete">삭제</button>
            </form>


        </div>

    </div>

</div>

<!--  메인---------------------  메인---------------------  메인---------------------  메인---------------------  메인----------------------->


<!--<script src="../static/js/main.js"></script>-->
<script src="/static/js/main.js"></script>
</body>
</html>