<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>board</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--      <link rel="stylesheet" href="../static/css/main.css">-->
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<!--메뉴 오프너-->

<div class="menu_toggle_button button" type="button" data-json="menu_toggle">
    토글
</div>


<!--  메뉴 ---------------------------------------------------------------->
<div id="menu">
    <div class="profile"></div>
    <div class="id">로그인하세요</div>
    <div class="button" data-json="open_login">로그인 및 회원가입</div>
    <div class="button" data-json="/user/me">내정보</div>
    <div class="button" data-json="/group/me">그룹</div>
    <div class="button" data-json="/post/group">그룹 게시판</div>
    <div class="button" data-json="/post/me">나의 게시판 관리</div>
    <div class="button" data-json="/logistics/item/select">물류 관리</div>
    <div id="msg">asdf</div>
</div>

<!-- 메인 ------------------------------------------------------------------>
<div class="main">

    <!-- 로그인 -->
    <div id="login" class="pop">

        <form class="login_form column pop" target="iframe1">
            <div class="serve_title">로그인</div>
            <input type="text" name="v1" placeholder="아이디를 입력하세요">
            <button class="button" type="button" data-json="/user/login1">인증하기</button>
        </form>

        <form class="login_code column pop" target="iframe1">
            <div class="serve_title">인증코드입력</div>
            <input type="text" name="v1" placeholder="인증코드를 입력하세료">
            <button class="button" type="button" data-json="/user/login2">인증완료</button>
        </form>

        <form class="join_form column pop" target="iframe1">
            <div class="serve_title">회원가입</div>
            <input type="text" name="id" placeholder="id">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="phone" placeholder="phone">
            <label>프로필 사진</label>
            <input type="file" name="profile" placeholder="프로필 사진">
            <div class="image_box">
            </div>
            <button class="button" type="button" data-json="/user/join1">정보확인</button>
        </form>

        <form class="join_code column pop" target="iframe1">
            <div class="serve_title">인증코드를 입력하세요</div>
            <input type="text" name="v1" placeholder="인증코드를 입력하세요">
            <button class="button" type="button" data-json="/user/join2">인증완료</button>
        </form>

    </div>

    <!-- 유저 -->
    <div id="user" class="pop">

        <form class="profile_form column pop " target="iframe1">
            <div class="serve_title">프로필사진 변경</div>
            <input type="hidden" name="v1" value="profile">
            <input type="file" name="image">
            <div class="image_box">
            </div>
            <button class="button" type="button" data-json="/user/update">변경완료</button>
        </form>

        <div class="profile"></div>
        <div class="button" type="button" data-json="open_profile_form">프로필 변경</div>

        <div class="row">
            <div class="left">id</div>
            <div class="id"></div>
        </div>

        <div class="row">
            <div class="left">email</div>
            <div class="email"></div>
        </div>

        <div class="row">
            <div class="left">name</div>
            <div class="name"></div>
        </div>

        <div class="row">
            <div class="left">phone</div>
            <div class="phone"></div>
        </div>

        <div class="row">
            <div class="left">조직</div>
            <div class="organization"></div>
        </div>

        <form class="form column" target="iframe1">
            <select name="v1">
                <option value="name">name</option>
                <option value="phone">phone</option>
            </select>
            <input type="text" name="v2" placeholder="수정할 정보를 입력하세요">
            <button class="button" type="button" data-json="/user/update">수정완료</button>
        </form>

        <div class="row">
            <div class="button logout" data-json="/user/logout">로그아웃</div>
            <div class="button logout" data-json="/user/delete">회원탈퇴</div>
        </div>


    </div>


    <!-- 그룹 -->
    <div id="group" class="pop column">

        <!-- 그룹 메뉴 -->
        <div class="serve_menu">
            <div class="button" data-json="/group/me">그룹리스트</div>
            <div class="button" data-json="/group/info">그룹정보</div>
            <div class="button" data-json="open_group_create_open">그룹생성</div>
            <div class="button" data-json="/group/invite_select">초대관리</div>
        </div>

        <div class="serve_main">

            <!-- 접속할 그룹 리스트 -->
            <div class="pop group_list column">

                <div class="serve_title">접속할 그룹을 선택하세요</div>
                <div class="sample">
                    <div class="button organization" data-json="/group/connect" data-id="">
                    </div>
                </div>

            </div>

            <!-- 그룹 정보 -->
            <div class="pop group_info">

                <div class="row group_info_in">
                    <div>
                        <div>그룹이름</div>
                        <div class="group_name"></div>
                    </div>
                    <div>
                        <div>그룹크기</div>
                        <div class="group_size"></div>
                    </div>
                    <div>
                        <div>관리자</div>
                        <div class="group_master"></div>
                    </div>
                </div>

                <div class="column">
                    <div class="sample row">
                        <div class="profile"></div>
                        <div class="id"></div>
                        <div class="button" data-json="/group/select" data-id="">상세보기</div>
                    </div>
                </div>

                <div class="button" data-json="/group/delete">그룹탈퇴</div>


            </div>

            <!-- 그룹원 상세보기 -->
            <div class="pop group_user_info column">
                <div class="serve_title">그룹원 정보 상세보기</div>
                <div class="profile"></div>
                <div class="row">
                    <div class="left">id</div>
                    <div class="id"></div>
                </div>

                <div class="row">
                    <div class="left">email</div>
                    <div class="email"></div>
                </div>

                <div class="row">
                    <div class="left">name</div>
                    <div class="name"></div>
                </div>

                <div class="row">
                    <div class="left">phone</div>
                    <div class="phone"></div>
                </div>

                <div class="row">
                    <div class="left">조직</div>
                    <div class="organization"></div>
                </div>
            </div>

            <!-- 그룹 생성 -->
            <form class="group_create_form column pop " target="iframe1">
                <div class="serve_title">그룹 생성</div>
                <input type="text" name="v1" placeholder="생성할 그룹 이름을 입력하세요">
                <button class="button" type="button" data-json="/group/create">생성완료</button>
            </form>

            <!-- 그룹 초대 리스트 -->
            <div class="invite_list pop">
                <div class="serve_title">초대를 수락 또는 삭제</div>

                <div class="row invite_title">
                    <div class="master">초대자</div>
                    <div class="target">대상</div>
                    <div class="organization">그룹</div>
                    <div class="button" data-json="/group/accept" data-id="">버튼</div>
                    <div class="button" data-json="/group/cancel" data-id="">버튼</div>
                </div>
                <div class="row invite_title sample">
                    <div class="master"></div>
                    <div class="target"></div>
                    <div class="organization"></div>
                    <div class="button" data-json="/group/accept" data-id="">수락</div>
                    <div class="button" data-json="/group/cancel" data-id="">삭제</div>
                </div>


            </div>

            <!-- 그룹 초대 폼 -->
            <form class="invite_form column pop" target="iframe1">
                <div class="serve_title">초대하기</div>
                <input type="text" name="v1" placeholder="초대할 아이디를 입력하세요">
                <button class="button" type="button" data-json="/group/invite">초대완료</button>
            </form>

        </div>

    </div>

    <!-- 게시판 -->
    <div id="board" class="pop">

        <!-- 게시판 메뉴 --->
        <div class="row">
            <div class="button" data-json="post_form_open">게시글 작성</div>
        </div>


        <!--- 그룹 게시글 --->
        <div class="board_group_view pop">

            <div class="sample row">

                <div class="image_box">
                    <div class="image"></div>
                    <div class="image_box_button_left button" data-json="left_image"><</div>
                    <div class="button image_box_button_right" data-json="right_image">></div>
                </div>

                <div class="column">
                    <div class="title">제목</div>
                    <div class="content">설명...</div>
                    <div class="created_date">2019-01-03</div>
                    <div class="id">mnl005</div>
                    <div class="row">
                    </div>
                </div>

            </div>

        </div>

        <!-- 나의 게시글 --->
        <div class="board_me_view pop">

            <div class="sample row">

                <div class="image_box">
                    <div class="image"></div>
                    <div class="image_box_button_left button" data-json="left_image"><</div>
                    <div class="button image_box_button_right" data-json="right_image">></div>
                </div>

                <div class="column">
                    <div class="title">제목</div>
                    <div class="content">설명...</div>
                    <div class="created_date">2019-01-03</div>
                    <div class="id">mnl005</div>
                    <div class="row">
                        <div class="button" data-json="/post/delete" data-id="24">삭제</div>
                    </div>
                </div>

            </div>

        </div>

        <!-- 글작성 --->
        <div class="board_form pop">
            <form class="column" target="iframe1">
                <input type="file" name="image">
                <div class="image_box">
                    <div class="image_box_button_left button" data-json="left_image"><</div>
                    <div class="button image_box_button_right" data-json="right_image">></div>
                </div>
                <input type="text" name="title" placeholder="게시글 제목">
                <input type="text" name="content" placeholder="게시글 내용">
                <button class="button" type="button" data-json="/post/insert">작성완료</button>
            </form>
        </div>


    </div>


    <!-- 상품관리 -->
    <div id="logistics" class="pop column">

        <!-- 물류 메뉴 -->
        <div class="serve_menu">
            <div class="button" data-json="/logistics/item/select">상품관리</div>
            <div class="button" data-json="/logistics/location/select">로케이션관리</div>
            <div class="button" data-json="/logistics/inventory/select_all">인벤토리관리</div>
        </div>

        <div class="serve_main">

            <!-- 상품 뷰 -->
            <div class="pop item_view">

                <div class="item_list">
                    <div class="row">
                        <div>이미지</div>
                        <div>이름</div>
                        <div>code</div>
                        <div>기타사항</div>
                        <div>버튼</div>
                    </div>
                    <div class="sample">
                        <div class="image"></div>
                        <div class="name">에어팟</div>
                        <div class="item_code">a0001</div>
                        <div class="other">기타사항</div>
                        <div><div class="button" data-json="/logistics/item/delete" data-id="">삭제</div></div>
                    </div>
                </div>

                <form class="item_form column" target="iframe1">
                    <div class="serve_title">상품등록</div>
                    <input type="text" name="v1" placeholder="상품식별코드">
                    <input type="text" name="v2" placeholder="상품이름">
                    <input type="text" name="v3" placeholder="기타표기사항">
                    <input type="file" name="image">
                    <div class="image_box">
                    </div>
                    <button class="button" type="button" data-json="/logistics/item/insert">상품등록</button>
                </form>

            </div>

            <!-- 로케이션 뷰 -->
            <div class="pop location_view">

                <div class="location_list">
                    <div class="row">
                        <div>로케이션 코드</div>
                        <div>버튼</div>
                    </div>
                    <div class="sample">
                        <div class="location_code"></div>
                        <div><div class="button" data-json="/logistics/location/delete" data-id="">삭제</div></div>
                    </div>
                </div>

                <form class="item_form column" target="iframe1">
                    <div class="serve_title">로케이션 등록</div>
                    <input type="text" name="v1" placeholder="생성할 로케이션 코드">
                    <button class="button" type="button" data-json="/logistics/location/insert">로케이션 등록</button>
                </form>

            </div>

            <!-- 인벤토리 뷰 -->
            <div class="pop inventory_view">
                <div class="inventory_list">

                    <form class="inventory_search_form row" target="iframe1">
                        <select type="text" name="v1">
                            <option value="location_code">location_code</option>
                            <option value="item_code">item_code</option>
                            <option value="quantity">quantity</option>
                            <option value="status">status</option>
                        </select>
                        <input type="text" name="v2" placeholder="검색할 값을 입력하세요">
                        <button class="button" type="button" data-json="/logistics/inventory/select">찾기</button>
                    </form>

                    <div class="row">
                        <div>로케이션코드</div>
                        <div>아이템코드</div>
                        <div>수량</div>
                        <div>정보갱신일</div>
                        <div>상태</div>
                        <div>버튼</div>
                    </div>
                    <div class="sample">
                        <div class="location_code">A-01-01</div>
                        <div class="item_code">a0001</div>
                        <div class="quantity">13</div>
                        <div class="updated_date">2023-10-11</div>
                        <div class="status">NOMAL</div>
                        <div><div class="button" data-json="/logistics/inventory/delete" data-id="">삭제</div></div>
                    </div>
                </div>

                <form class="inventory_form column" target="iframe1">
                    <div class="serve_title">인벤토리 등록</div>
                    <input type="text" name="v1" placeholder="로케이션코드">
                    <input type="text" name="v2" placeholder="상품코드">
                    <input type="text" name="v3" placeholder="수량">
                    <button class="button" type="button" data-json="/logistics/inventory/insert">인벤토리 등록</button>
                </form>

                <form class="inventory_form column" target="iframe1">
                    <div class="serve_title">인벤토리 수정</div>
                    <input type="text" name="v1" placeholder="로케이션코드">
                    <input type="text" name="v2" placeholder="상품코드">
                    <select type="text" name="v3">
                        <option value="quantity">quantity</option>
                        <option value="status">status</option>
                    </select>
                    <input type="text" name="v4" placeholder="반영할 값">
                    <button class="button" type="button" data-json="/logistics/inventory/update">인벤토리 수정</button>
                </form>

            </div>

        </div>

    </div>

</div>

<!--  메인---------------------  메인---------------------  메인---------------------  메인---------------------  메인----------------------->


<!--<script src="../static/js/main.js"></script>-->
<script src="/static/js/main.js"></script>
</body>
</html>